<div fxLayoutAlign="center center" fxFlexFill class="main-div">

</div>
<div class="center">
    <div class="title">
        <h1 class="cp-title">Tech Mahindra Cloud Services</h1>
    </div>
    <div class="cp-sub">TechM CLOUDNXT.NOW – Our strategic approach to help our clients accelerate their cloud journey<br><br>
        <a class="linkBtn" href="https://www.techmahindra.com/en-in/infrastructure-and-cloud-services/cloud-nxt/" tabindex="-1" target="_blank">know more <span></span></a>
    </div>
    <div>
        <p><br><br><br></p>
    </div>
    <div class="container">

        <form class="d-flex">

            <button (click)="login()" class="btn btn-primary btn-lg" *ngIf="!isLoggedIn()">TechM SSO SIGN IN</button>
        </form>
    </div>
</div>