.main-div {
    background-color: black;
    opacity: 0.6;
}

.cp-title {
    padding-top: 50px;
    font-size: 60px;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.container {
    display: flex;
    justify-content: center;
}

.cp-sub {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 30px;
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.linkBtn {
    font-size: 20px;
    color: rgb(126, 123, 118);
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 20px;
    line-height: 0.95;
}